.scrollBtn {
    border-radius: 50%;
    border: .1vmin solid var(--black);
    background-color: rgba(255, 255, 255, 0.1);
    /* position: fixed;
    bottom: 15px;
    right: 20px; */
    height: 40px;
    width: 40px;
    cursor: pointer;
}