@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");

/* CSS Custom Properties */
:root {
  --eggplant: #45214a;
  --violet: #323050;
  --blue: #21445b;
  --teal: #1a6566;
  --green: #5d8a66;
  --white: #ffffff;
  --black: #000000;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
  font-family: "Gill Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--white); */
  padding: 2vmin;
  height: 100vh;
  /* background-image: url("https://images.unsplash.com/photo-1618576980905-8b704806a39b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2815&q=80"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-color: rgb(193, 184, 209);
  color: var(--black);
}

#root {
  height: 100%;
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 3vmin;
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: .1vmin solid var(--black);
  font-size: 3vmin;
}

.menu div:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* .homePic {
  width: 98vw;
  height: 90vh;
} */

.imageContainer {
  /* background-image: url("https://i.imgur.com/GWVaGQO.jpg"); */
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/968/002/non_2x/cute-abstract-modern-background-free-vector.jpg");
  background-size: cover;
  width: 98vw;
  height: 90vh;
  padding-top: 40vmin;
}

/* .imageContainer h1, .imageContainer h3 {
  text-align: right;
  margin-right: 3vmin;
} */

.imageContainer h1 {
  font-weight: 700;
  font-size: 10vmin;
}

.imageContainer h3 {
  font-weight: 600;
  font-size: 5.85vmin;
}

.header {
  font-size: 4vmin;
  text-decoration: underline;
  margin-top: 5vmin;
  /* text-align: left; */
  padding: 1vmin;
  background-color: rgba(255, 255, 255, 0.3);
}

/* h1 { */
/* color: var(--green); */
/* color: var(--white); */
/* margin-top: 5vmin;
} */

/* h3 { */
/* color: var(--teal); */
/* color: var(--white); */
/* margin-top: -5vmin; */
/* } */

/* .sections {
  display: flex;
  flex-direction: column;
}

.sections button {
  margin: 2vmin 40vw;
  font-size: 2vw;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  border-radius: 2vmin; */
/* border: 0.5vmin solid white; */
/* color: var(--white);
} */

/* .aboutBtn {
  background-color: var(--blue);
}

.projectsBtn {
  background-color: var(--violet);
}

.contactBtn {
  background-color: var(--eggplant);
} */

.about {
  display: flex;
  align-items: center;
}

.about img {
  height: 30vmin;
  margin-top: 4vmin;
  margin-right: -30vmin;
  margin-left: 30vmin;
  border-radius: 2vmin;
  border: 1vmin double var(--black);
}

.about div {
  margin: 4vmin 20vw 0;
  font-size: 3vmin;
  text-align: left;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  /* border: 1vmin double var(--violet); */
  border: 1vmin double var(--black);
  border-radius: 2vmin;
  margin: 3vmin
    /* 25vw */
  ;
  padding: 5vmin 10vmin;
  /* color: var(--violet); */
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project h4 {
  margin-bottom: 4vmin;
}

h5 {
  margin-bottom: 1vmin;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.normText {
  margin-bottom: 3vmin;
}

.contact {
  margin: 3vmin;
  margin-bottom: 5vmin;
}

.lineBreak {
  height: 2vmin;
}

/* .scrollBtnPosition {
  position: fixed;
  bottom: 15px;
  right: 20px;
} */

.scrollToTopBtn {
  border-radius: 50%;
  border: .3vmin solid var(--black);
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  bottom: 15px;
  right: 20px;
  height: 40px;
  width: 40px;
  font-size: 5vmin;
  padding-bottom: 6vmin;
}

.scrollToTopBtn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}