@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");

/* CSS Custom Properties */
:root {
  --eggplant: #45214a;
  --violet: #323050;
  --blue: #21445b;
  --teal: #1a6566;
  --green: #5d8a66;
  --dark-golden: rgb(109, 88, 34);
  --white: #ffffff;
  --cream: #fffefd;
  --black: #000000;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
  font-family: "Gill Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--white); */
  /* padding: 2vmin; */
  height: 100vh;
  /* background-image: url("https://images.unsplash.com/photo-1618576980905-8b704806a39b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2815&q=80"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-color: rgb(193, 184, 209); */
  background-color: rgb(213, 182, 170);
  /* background-color: rgb(170, 208, 213); */
  color: var(--black);
}

#root {
  height: 100%;
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 3vmin;
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: .1vmin solid var(--black);
  font-size: 3vmin;
}

.menu div:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* .homePic {
  width: 98vw;
  height: 90vh;
} */

.imageContainer {
  /* background-image: url("https://i.imgur.com/GWVaGQO.jpg"); */
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/004/968/002/non_2x/cute-abstract-modern-background-free-vector.jpg"); */
  /* background-image: url("https://www.creativefabrica.com/wp-content/uploads/2022/05/17/pastel-aesthetic-background-Graphics-30684243-1.jpg"); */
  background-image: url("https://img.freepik.com/premium-vector/hand-drawn-floral-background_23-2149032851.jpg");
  background-size: cover;
  /* width: 98vw; */
  height: 90vh;
  padding-top: 40vmin;
}

/* .imageContainer h1, .imageContainer h3 {
  text-align: right;
  margin-right: 3vmin;
} */

.imageContainer h1 {
  font-weight: 700;
  font-size: 10vmin;
  color: var(--dark-golden);
}

.imageContainer h3 {
  font-weight: 600;
  font-size: 5.85vmin;
  color: var(--dark-golden);
}

.header {
  font-size: 4vmin;
  /* text-decoration: underline; */
  /* margin-top: 5vmin; */
  /* text-align: left; */
  padding: 1vmin;
  background-color: rgba(255, 255, 255, 0.3);
}

.about {
  display: flex;
  align-items: center;
  margin-bottom: 5vmin;
}

.about img {
  height: 30vmin;
  margin-top: 4vmin;
  margin-right: -30vmin;
  margin-left: 30vmin;
  border-radius: 2vmin;
  border: 1vmin double var(--black);
}

.about div {
  margin: 4vmin 20vw 0;
  font-size: 3vmin;
  text-align: left;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--cream);
  padding: 5vmin 0;
}

.project {
  border: 1vmin double var(--black);
  border-radius: 2vmin;
  margin: 3vmin;
  padding: 5vmin;
  width: 45vw;
  display: flex;
}

.projectText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vmin;
  text-align: right;
}

/* .project h4 {
  margin-bottom: 4vmin;
} */

.skills, .links {
  display: flex;
  justify-content: flex-end;
}

/* .skillContainer {
  position: relative;
  width: 5vmin;
  height: 5vmin;
} */

.skills p {
  background: rgba(0, 2, 4, 0.72);
  color: var(--white);
  font-size: 1.5vmin;
  opacity: 0;
  transition: .2s ease;
  text-align: center;
  margin-top: -5.75vmin;
  margin-right: -1.5vmin;
  margin-left: 1vmin;
  /* padding: 0 1vmin; */
  border-radius: 5vmin;
}

.skills p:hover {
  opacity: 1;
}

.skills img, .links img {
  height: 5vmin;
  width: 5vmin;
  margin-bottom: 2vmin;
  margin-left: 3vmin;
}

/* .skills img {
  transition: .5s ease;
} */

.links img {
  transition: .5s ease;
}

.links img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: .5s ease;
}

.project > img {
  height: 45vmin;
  border-radius: 2vmin;
  border: 1vmin double var(--black);
  margin-left: 7vmin;
}

h5 {
  margin-bottom: 1vmin;
}

.link:hover {
  cursor: pointer;
  /* text-decoration: underline; */
  transform: scale(1.2);
  transition: .5s ease;
}

.normText {
  margin-bottom: 3vmin;
}

.contact {
  margin: 3vmin;
  padding-bottom: 3vmin;
  display: flex;
  justify-content: center;
}

.emailForm {
  background-color: var(--cream);
  margin: 5vmin 38vmax;
  padding: 5vmin;
  border-radius: 2vmin;
  border: 1vmin double var(--black);
}

.emailForm label {
  margin-right: 1vmin;
}

form input, form textarea {
  margin-top: 1vmin;
}

.message {
  margin-left: -1vmin;
}

.formBtn {
  background-color: var(--black);
  color: var(--white);
  border: .2vmin solid var(--black);
  border-radius: 2vmin;
  padding: 0 1.5vmin;
}

.formBtn:hover {
  background-color: rgb(213, 182, 170);
  color: var(--black);
}

.contactItem img {
  width: 5vmin;
  margin: 2vmin 1vmin;
}

.lineBreak {
  height: 2vmin;
}

/* .scrollBtnPosition {
  position: fixed;
  bottom: 15px;
  right: 20px;
} */

.scrollToTopBtn {
  border-radius: 50%;
  /* border: .3vmin solid var(--black);
  background-color: rgba(255, 255, 255, 0.5); */
  position: fixed;
  bottom: 15px;
  right: 20px;
  height: 40px;
  /* width: 40px; */
  /* font-size: 5vmin;
  padding-bottom: 6vmin; */
}

.scrollToTopBtn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}

/* @media only screen and (max-width: 480px) { */
@media only screen and (max-width: 1327px) {
  .menu {
    padding: 3vmin;
    border-bottom: .1vmin solid var(--black);
    font-size: 4vmin;
  }
  
  .imageContainer {
    /* background-image: url("https://img.freepik.com/premium-vector/hand-drawn-floral-background_23-2149032851.jpg");
    background-size: cover; */
    /* width: 98vw; */
    /* height: 90vh; */
    padding-top: 60vmin;
  }
  
  .imageContainer h1 {
    font-weight: 700;
    font-size: 10vmin;
  }
  
  .imageContainer h3 {
    font-weight: 600;
    font-size: 5.85vmin;
  }
  
  .header {
    font-size: 6vmin;
    /* margin-top: 5vmin; */
    /* text-align: left; */
    padding: 1vmin;
  }
  
  .about {
    flex-direction: column;
  }
  
  .about img {
    height: 35vmin;
    margin-top: 4vmin;
    margin-right: 0;
    margin-left: 0;
  }
  
  .about div {
    margin: 4vmin 15vw 0;
    font-size: 5vmin;
  }
  
  /* .projects {
    padding: 5vmin 0;
  } */
  
  .project {
    /* border-radius: 2vmin;
    margin: 3vmin;
    padding: 5vmin; */
    width: 80vw;
    flex-direction: column-reverse;
  }
  
  .projectText {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 68vmin;
    text-align: left;
    margin-top: 5vmin;
  }
  
  .skills, .links {
    display: flex;
    justify-content: flex-start;
  }
  
  .skills p {
    background: rgba(0, 2, 4, 0.72);
    color: #ffffff;
    font-size: 1.5vmin;
    opacity: 0;
    transition: .2s ease;
    text-align: center;
    margin-top: -5.75vmin;
    margin-right: -1.5vmin;
    margin-left: 1vmin;
    /* padding: 0 1vmin; */
    border-radius: 5vmin;
  }
  
  .skills p:hover {
    opacity: 1;
  }
  
  .skills img, .links img {
    height: 5vmin;
    width: 5vmin;
    margin-bottom: 2vmin;
    margin-left: 3vmin;
  }
  
  /* .skills img {
    transition: .5s ease;
  } */
  
  .links img {
    transition: .5s ease;
  }
  
  .links img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: .5s ease;
  }
  
  .project > img {
    height: 45vmin;
    border-radius: 2vmin;
    border: 1vmin double var(--black);
    margin-left: 7vmin;
  }
  
  h5 {
    margin-bottom: 1vmin;
  }
  
  .link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .normText {
    margin-bottom: 3vmin;
  }
  
  .contact {
    margin: 3vmin;
    padding-bottom: 3vmin;
    display: flex;
    justify-content: center;
  }
  
  .lineBreak {
    height: 2vmin;
  }
  
  .contactItem img {
    width: 10vmin;
  }
  
  /* .scrollBtnPosition {
    position: fixed;
    bottom: 15px;
    right: 20px;
  } */
  
  .scrollToTopBtn {
    border-radius: 50%;
    /* border: .3vmin solid var(--black);
    background-color: rgba(255, 255, 255, 0.5); */
    position: fixed;
    bottom: 15px;
    right: 20px;
    height: 40px;
    /* width: 40px; */
    /* font-size: 5vmin;
    padding-bottom: 6vmin; */
  }
  
  .scrollToTopBtn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
  }
}